nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

select {
    display: block;
}

.showMoney {
    display: grid;
}

textarea {
    resize: none;
    text-align: center;
    height: 200px;
    background-color: aliceblue;
}

.container1 {
    color: blue;
}

.nextto {
    display: flex;
    justify-content: space-around;
}

.container2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.AccountInfo {
    position: relative;
}

.pfp {
    position: relative;
    top: -100px;
}

.pfp2 {
    position: relative;
    right: -100px;
    top: -100px;
}